@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply cursor-pointer
    }
}
body{
    background-color: black
}

.icon{
    width: 1px;
    height: 120px;
    border-radius: 50%;
}

.content-div {
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(25, 25, 26, 0.8),
        hsla(240, 10%, 10%, 0.8)   
    )!important;
}